:root{
    /* --topBG: #cc9933; */
    --topBG: #FFA500;

    --innerBG: #184913;
    --bottomBG: #206b19;
}

.copper.top { fill: var(--topBG); stroke: #aa7711; }
.copper.bottom { fill: var(--innerBG); stroke: #1b5316; }
/* .copper.inner { fill: #284725; stroke: #286123; } */

.silkscreen.top { fill: #ffffff; stroke: #dddddd;  stroke-width: 0.1}
.silkscreen.bottom { fill: #ffffff; stroke: #dddddd;  stroke-width: 0.1}

/* .soldermask.bottom { fill: rgb(209, 59, 59); } */
.soldermask { fill: #a09a8e; }

.paste, .solderpaste { fill: #a09a8e; }

/* Board outline */
.outline { fill: none; stroke:black; stroke-width: 0.2; }

/* Drill holes */
.drill { fill: white; stroke: none; }

.drawing{ fill: gray; stroke: blue; }
