:root{
    --topBG: #cc9933;
    --innerBG: #184913;
    --bottomBG: #206b19;
}

/* Gerber layer color mapping */
.gerber-layer.fr4       { fill: #666666; }  /* substrate */
/* .gerber-layer.top.copper    { fill: var(--topBG); stroke: #cc9933;}  copper traces / pads */
.gerber-layer.top.copper    { fill: var(--topBG); stroke: var(--topBG);}  /* copper traces / pads */
.gerber-layer.inner.copper    { fill: var(--innerBG); stroke: var(--innerBG); }  /* copper traces / pads */
.gerber-layer.bottom.copper    { fill: var(--bottomBG); stroke: var(--bottomBG);}  /* copper traces / pads */

.gerber-layer.soldermask{ fill: #69694f;}

.gerber-layer.silkscreen{ stroke: white; }
.gerber-layer.paste     { fill: #ced8cd; }
.gerber-layer.outline   { fill: var(--bottomBG); }  board outline / routing

.gerber-layer.top.solderpaste{ fill: #999999; }
.gerber-layer.bottom.solderpaste{ fill: #999999; }

.gerber-layer.drawing{ fill: #999999; stroke: red; }
.gerber-layer.drill{ fill: rgb(136, 9, 240); stroke: red; }

/* .gerber-layer.cf        { fill: #cc9933; }  component-fabric (cutout) */
/* .gerber-layer.bottom.soldermask{ fill: #206b19;} */
