:root{
    /* --topBG: #cc9933; */
    --topBG: #FFA500;
    
    --innerBG: #184913;
    --bottomBG: #206b19;
}
#root{
    height: 99vh;
    /* background-color: rgb(72, 40, 78); */
}
svg{
    width: max-content;
    height: 100%;
}
.board{
    /* background-color: #206b19;
    background-color: #666666; */
}

.gerber-layer{
    box-sizing: border-box;
    color: #666666;
    /* fill: blue; */
}
/* Gerber layer color mapping */
