@import "tailwindcss";



#root{
    height: 99vh;
    /* background-color: rgb(23, 22, 24); */
}

.board{
    /* background-color: #206b19;
    background-color: #666666; */
}

.gerber-layer{
    box-sizing: border-box;
    color: #666666;
    /* fill: blue; */
}
/* Gerber layer color mapping */
